#ignore thumbnails created by windows
Thumbs.db
#ignore Desktop Service Store files created by mac
*.DS_Store
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
build
/results/

wrappers/actionscript/.actionScriptProperties

wrappers/actionscript/.project

wrappers/actionscript/.settings/org.eclipse.core.resources.prefs

wrappers/actionscript/html-template/history/history.css

wrappers/actionscript/html-template/history/history.js

wrappers/actionscript/html-template/history/historyFrame.html

wrappers/actionscript/html-template/index.template.html

wrappers/actionscript/html-template/playerProductInstall.swf

wrappers/actionscript/html-template/swfobject.js

wrappers/actionscript/src/Main.as
